@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

.main-title {
    font-family: 'Hina Mincho', serif;
    color: #2196f3;
}

.about-me {
    background-color: #eee;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

.card {
    background-color: #c1c1c1;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    
}

.image {
    width: 300px;
    border-radius: 10px 10px 0 0;
}

.container {
    padding: 10px;
    text-align: center;
}