
.card {
    background-color: bisque;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.image {
    width: 300px;
}

.container {
    padding: 10px;
    text-align: center;
}

