@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');


.container {
    max-width: 400px;
    margin: 15px auto;
}

.clr {
    clear: both;
}

.main-title {
    font-family: 'Hina Mincho', serif;
    color: #2196f3;
    border: 1px solid black;
}

.side {
    border: 1px solid black;
    width: 200px;
    height: 250px;
    float: left;
}

.main {
    border: 1px solid black;
    width: 190px; 
    height: 250px;
    float: right;
}

.about-me {
    padding: 10px;
    
    
}

.card {
    background-color: #c1c1c1;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.image {
    width: 300px;
    border-radius: 10px 10px 0 0;
}

.container {
    padding: 10px;
    text-align: center;
}

.favorites {
    margin-top: 10px;
    border: 1px solid black;
}

.social-network-nav {
    margin: 10px;
    border: 1px solid black;
}